

<!-- <div class="card" style="width: 18rem;">
  <img src="{{item.img}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p  style="color: #dc3545;">{{item.para}}</p>

 
  </div>
</div> -->


<!-- <section class="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="owl-service-item owl-carousel">
        
          <div class="item">
            <div class="icon">
              <img src="assets/images/service-icon-01.png" alt="">
            </div>
            <div class="down-content">
              <h4>Best Education</h4>
              <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
            </div>
          </div>
         
          
        </div>
      </div>
    </div>
  </div>
</section> -->

