<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video" preload="auto">
        <source src="assets/assets/images/course-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
      
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="caption">
            <h6>Hello Students</h6>
            <h2>Welcome to Education</h2>
            <p>Geotagging can help people find a various types of specific information that is related to a location. For instance, it can allow people to locate pictures that were taken within the vicinity of a certain location by simply inputting coordinates of longitude and latitude into a search engine that enables geotagging. It can also be used to locate websites, news and other information that is related to a specific location.</p>
            <div class="main-button-red">
                <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
            </div>
        </div>
            </div>
          </div>
        </div>
    </div>
</section>
